.navbar {
  position: relative;
}

.side-menu {
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  position: absolute;
}

.visible {
  opacity: 1;
}


.bg-img { 
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url(/assets/images/charity.jpg) ;
  background-position: center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;

}